.calculator {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #d1d1d1;
}

.calculator input {
  outline: none;
}

.result {
  width: calc(100% - 20px);
  background-color: #858694;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  height: 50px;
  padding: 0 10px;
  font-size: 25px;
}

.numbers-oberations {
  display: grid;
  gap: 2px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.numbers-oberations button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 20px;
}

.numbers-oberations button.last {
  background-color: #f5913e;
}

.zero-btn {
  grid-column: 1 / 3;
}
